
<!DOCTYPE html>
<html>
<head>
  <title>LoginSocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->

</head>
<body>

  <h1><%=link_to root_path "Omni" %></h1>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if current_user%>
        <li>Signed in as: <%=current_user.name %>  <%=image_tag(@auth['info']['image'], width: "50",height: '50')%></li>
        <li><%=link_to "Sign Out","sign_out",method: :delete%></li>
        <%else%>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>  </li>
<!-- <%end%> -->
      </ul>
    </div>

    <%flash.each do |key,value|%>
    <div class="alert alert-info"><%=value%></div>
    <%end%>
    <% if current_user %>
    <div class="text-center">
      <h1>Welcome, <%=current_user.name%></h1>
      <h4>Logged in with  <strong><em><%=@auth['provider'].capitalize%></em></strong></h4>
      <%=image_tag('logo.png')%>
    </div>
    <% end %>








<%= yield %>

</body>
</html>
